@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;200;300;400;500;600;700&display=swap);



body {
  font-family: 'Source Sans Pro', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.company{
    display: flex;
    align-items: center;
}

.company img{
    width: 32.29px;
height: 32.29px;
}
.company_a{
    font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: normal;
font-size: 26.1439px;
line-height: 33px;
/* identical to box height */
color: #37434E;
text-decoration: none;
cursor: pointer;
}

.links_hf{
    font-family:'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-decoration: none;
color: #4D5B67;
padding-right: 32px;
}
.big_container{
    margin: 0 auto;
    padding-top: 50px;
    
   
}
.header_btn{
    width: 154px;
    height: 48px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0FC7FF;
    border: 1px solid #0FC7FF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}
.header_btn:hover{
    background-color: #00C7F9;
    color: white;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 1;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    box-shadow: -1.81504px 6.55049px 20.8942px #0FC7FF;
}
.first_medium_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1921px;
    height: 711px;
    margin-top: 30px;
    background-image: url("/img/line.png");
    background-repeat: no-repeat;
       background-position: -266px 366px;
    
}
.left_in_first{
    margin-top: 90px;
}
.p_big{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 49px;
line-height: 59px;
/* or 120% */

display: flex;
align-items: center;

color: #37434E;
}
.p_in_conts{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


text-align: justify;

color: #4D5B67;
}
.mail_in{
    background: #FAFEFF;
border: 1px solid #CAE1F2;
box-sizing: border-box;
border-radius: 29.0549px;
width: 338.46px;
height: 48.93px;
margin-right: 15px;
}
.button_all{
    width: 229.38px;
    height: 48.93px;
    background: #0FC7FF;
    box-shadow: 0px 4.07788px 14.2726px rgba(138, 170, 180, 0.24);
    border-radius: 31.0938px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16.3115px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    border: none;
    /* margin-left: 9px; */
    cursor: pointer;
    

}
.button_all:hover{
-webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 1;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    box-shadow: -1.81504px 6.55049px 20.8942px #0FC7FF;
}
.yellow_p{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #FFA217;
}

.right_in_first img{
   max-width: 503px;
max-height: 559px; 

}
.p_store{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 12.9757px;
    line-height: 163.8%;
    /* identical to box height, or 21px */

    display: flex;
    align-items: center;

    color: #828282;
}
.appstore{
    width: 168px;
height: 56px;
background: #FFFFFF;
box-shadow: 0px 3.11293px 18.6776px rgba(0, 0, 0, 0.06);
border-radius: 10.3764px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 41px;

}
.storePlus{
    margin-left: 15px;
}
.appstore img{
   width: 125.66px;
height: 25.95px;

}
.stores{
display: flex;

}
.second_medium_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    padding: 20px;
}
.small_blocks{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.miniBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
height: 296px;
background: #FFFFFF;
box-shadow: -2.81504px 5.55049px 19.8942px rgba(0, 79, 123, 0.05);
border-radius: 20px;
margin: 10px;
}
.miniBlock:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: -1.81504px 6.55049px 20.8942px rgba(1, 65, 100, 0.05);
}
.p_heads{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 163.8%;
/* identical to box height, or 51px */

text-align: center;

color: #37434E;
}
.minis_head{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* or 120% */

text-align: center;

color: #37434E;
}
.lineP{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 141%;
/* or 35px */
color: #4D5B67;
border-left: 1px solid #00C7F9;
margin-left: 20px;
padding-left: 10px;
}
.container_second_third{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.writings{
    margin-left: 50px ;
}
.blocksFour{
    display: flex;
    align-items: center;
    max-width: 1312px;
    background: #FFFFFF;
    box-shadow: -2.83px 5.58px 20px rgba(0, 79, 123, 0.05);
    border-radius: 20px;
}
.leftFour{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.marketsBlock{
    display: flex;
    flex-direction: column;
}
.marketLinks{
    display: flex;
    align-items: center;
}
.linksForMarket{
    margin-left: 16px;
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 31px;
text-decoration-line: underline;

color: #4D5B67;
}
.blockFive{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/img/line3bg.png"),url("/img/line4bg.png");
    background-repeat: no-repeat;
 background-position: 575px 132px, 570px 215px;
}
.formargin{
    margin-top: 100px;
}
.allLine{
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    border-bottom:0.845002px solid #9E9E9E ;
   border-top: 0.845002px solid #9E9E9E;
}
.headRating span{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: justify;
margin-left: 4px;
color: #37434E;
}
.headRating{
    display: flex;
    align-items: center;
}


.ratingCont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pWithLine{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: justify;
color: #4D5B67;
border-left: 1px solid #00C7F9;

padding-left: 10px ;
}

.slider{
    display: flex;
    flex-direction: column;
    max-width: 1092px;
    min-width: 0;
    margin: 0 auto;
}
.rating{
max-width: 1092px;
 min-width: 0;
display: flex;
flex-direction: column;
align-items: flex-start;  
background: #FFFFFF;
border-radius: 20px;
padding: 25px;

}

.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
    box-shadow: 0px 5px 10px 12px rgba(0, 79, 123, 0.05);
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{
   
}
/* Слайд активный */
.slick-slide.slick-active{
  
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 49px;
height: 49px;
border: none;
cursor: pointer;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('./img/left.png') 0 0  no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('./img/right.png') 0 0  no-repeat;
    background-position: right top;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
    
    
}
.slider .slick-dots button{
    
	font-size: 0;
	width: 9.91px;
    height: 9.91px;
	background-color: #B9EFFF;;
	border-radius: 70%;
    border: none;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #B9EFFF;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item.slick-center{
	
}
.third_container_all{
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/img/bg5.png');
}
.center{
    text-align: center;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 37px;
}
.f_head{
    display: flex;
    justify-content: space-around;
}
.links_footer{
    display: flex;
    flex-direction: column;
}
.fotterLink{
    margin-top: 16px;
}
.f_foot{
    margin-top: 58px;
    padding-left: 78px;
    padding-right: 78px;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5FAFF 0 0 /100%;
backdrop-filter: blur(70px);
}
.copywright{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 23.2729px;
line-height: 29px;
/* identical to box height */


color: #394C5B;
}
.web_pages svg{
    margin-right: 15px;
}